## $Id: class_cxx.tmpl,v 1.19 2003-11-04 23:37:39 patrick Exp $

#from TemplateHelpers import getCallbackTypedefName, makeCPlusPlusTypedef, getDeclName
#from visitors import CPlusPlusVisitor, CPlusPlusReturnVisitor

#def exportClass($classObj)
#set $class_visitor = CPlusPlusVisitor()
#set $generic_visitor = CPlusPlusVisitor()
#silent $classObj.class_.accept($class_visitor)
#set $class_name = $class_visitor.getRawName()
\#include "sharppy.h"
#for $i in $classObj.includes
\#include <$i>
#end for

#if $classObj.hasVirtualMethods()
#set $base_list = ['public %s' % getDeclName(x, $generic_visitor) for x in $classObj.bases]
#set $bases = ', '.join($base_list)
class SHARPPY_API $classObj.bridge_name : $bases
{
public:
#for $c in $classObj.constructors

#set $p = ', '.join(['%s %s' % (getDeclName(x[0], $generic_visitor), x[1]) for x in $c.parameters])
#set $arg_list = ', '.join([x[1] for x in $c.parameters])
#silent $classObj.bases[0].accept($generic_visitor)
#set $base_cons = $generic_visitor.getRawName()
   ${classObj.bridge_name}($p)
      : ${base_cons}($arg_list)
   {;}
#end for

   virtual ~${classObj.bridge_name}()
   {;}

#set $return_visitor = CPlusPlusVisitor()
#for $m in $classObj.virtual_methods

   $makeCPlusPlusTypedef($m.callback);
   $getCallbackTypedefName($m.callback) ${m.name[0]}_callback;

#silent $m.result.accept($return_visitor)
#set $p = ', '.join(['%s %s' % (getDeclName(x[0], $generic_visitor), x[1]) for x in $m.parameters])
#set $arg_list = ', '.join([x[1] for x in $m.parameters])
   virtual $return_visitor.getRawName() ${m.name[0]}($p)
   {
      #if $return_visitor.getRawName() != 'void' then 'return' else ''# ${m.name[0]}_callback($arg_list);
   }
#end for
}; // class $classObj.bridge_name
#end if

extern "C"
{
#for $c in $classObj.constructors
#if $c.IsCopy()
   // Copy constructor wrapper.
   SHARPPY_API $class_name* new_${classObj.bridge_name}(const ${classObj.bridge_name}* p)
#else
#set $param_list = ['%s %s' % (getDeclUsage(x[0], $generic_visitor), x[1]) for x in $c.parameters]
#for $i in range(len($classObj.virtual_methods))
#set $q = '%s cb%s' % (getCallbackTypedefName($classObj.virtual_methods[$i].callback, True), $i)
#silent $param_list.append($q)
#end for
#set $p = ', '.join($param_list)
   // Constructor wrapper.
   SHARPPY_API $class_name* new_${classObj.bridge_name}($p)
#end if
   {
#if $c.IsCopy()
      $classObj.bridge_name* obj = new ${classObj.bridge_name}(*p);
#set $count = 0
#for $m in $classObj.virtual_methods
      obj->${m.name[0]}_callback = p->${m.name[0]}_callback;
#set $count = $count + 1
#end for
#else
#set $arg_list = ', '.join([x[1] for x in $c.parameters])
      $classObj.bridge_name* obj = new ${classObj.bridge_name}($arg_list);
#set $count = 0
#for $m in $classObj.virtual_methods
      obj->${m.name[0]}_callback = cb$count;
#set $count = $count + 1
#end for
#end if
      return ($class_name*) obj;
   }

#end for

#if $classObj.hasDestructor() or $classObj.hasVirtualMethods()
   SHARPPY_API void delete_${classObj.bridge_name}($class_name* self_)
   {
      delete self_;
   }

#end if

#set $method_visitor = CPlusPlusVisitor()
#for $m in $classObj.non_virtual_methods
#set $params = ['%s %s' % (getDeclUsage(x[0], $generic_visitor), x[1]) for x in $m.parameters]
#silent $params[0:0] = ["%s* self_" % $class_name]
#set $p = ', '.join($params)
#set $arg_list = ', '.join([x[1] for x in $m.parameters])
#set $return_visitor = CPlusPlusReturnVisitor()
#silent $m.result.accept($return_visitor)
#silent $m.accept($method_visitor)
   // Wrapper for non-virtual method ${method_visitor.getRawName()}()
   SHARPPY_API $return_visitor.getUsage() ${method_visitor.getGenericName()}($p)
   {
#set $method_name = $m.name[0]
#if $return_visitor.getRawName() != 'void'
      return #slurp
#end if
#if $m.result.must_marshal
      new ${return_visitor.getRawName()}(self_->${method_name}($arg_list));
#else
      self_->${method_name}($arg_list);
#end if
   }

#end for

#set $method_visitor = CPlusPlusVisitor()
#set $return_visitor = CPlusPlusReturnVisitor()
#for $m in $classObj.virtual_methods
#set $params = ['%s %s' % (getDeclUsage(x[0], $generic_visitor), x[1]) for x in $m.parameters]
#silent $params[0:0] = ["%s* self_" % $class_name]
#set $p = ', '.join($params)
#set $arg_list = ', '.join([x[1] for x in $m.parameters])
#silent $m.accept($method_visitor)
#silent $m.result.accept($return_visitor)
   // Wrapper for virtual method ${method_visitor.getRawName()}()
   SHARPPY_API $return_visitor.getUsage() ${method_visitor.getGenericName()}($p)
   {
#set $method_name = $m.name[0]
#if $return_visitor.getRawName() != 'void'
      return #slurp
#end if
#if $m.result.must_marshal
      new ${return_visitor.getRawName()}(self_->${method_visitor.getRawName()}($arg_list));
#else
      self_->${method_visitor.getRawName()}($arg_list);
#end if
   }

#end for

#set $method_visitor = CPlusPlusVisitor()
#set $return_visitor = CPlusPlusReturnVisitor()
#for $m in $classObj.static_methods
#set $params = ['%s %s' % (getDeclUsage(x[0], $generic_visitor), x[1]) for x in $m.parameters]
#set $p = ', '.join($params)
#set $arg_list = ', '.join([x[1] for x in $m.parameters])
#silent $m.accept($method_visitor)
#silent $m.result.accept($return_visitor)
   // Wrapper for static method ${method_visitor.getRawName()}()
   SHARPPY_API $return_visitor.getUsage() ${method_visitor.getGenericName()}($p)
   {
#set $method_name = $m.name[0]
#if $return_visitor.getRawName() != 'void'
      return #slurp
#end if
#if $m.result.must_marshal
      new ${return_visitor.getRawName()}(${method_visitor.getRawName()}($arg_list));
#else
      ${method_visitor.getRawName()}($arg_list);
#end if
   }

#end for

#set $data_visitor = CPlusPlusVisitor()
#set $data_type_visitor = CPlusPlusVisitor()
#for $m in $classObj.static_members
#silent $m.accept($data_visitor)
#silent $m.type.accept($data_type_visitor)
#set $set_name = $data_visitor.getGenericName() + '_set'
#set $get_name = $data_visitor.getGenericName() + '_get'
#if $m.type.must_marshal
#set $native_type = '%s*' % $data_type_visitor.getRawName()
#else
#set $native_type = $data_type_visitor.getRawName()
#end if
   // Wrapper for reading static data member $data_visitor.getRawName()
   SHARPPY_API $native_type ${get_name}()
   {
#if $m.type.must_marshal
## XXX: This probably isn't even close to correct ...
      return &$class_visitor.getRawName()::$m.name[0];
#else
      return $class_visitor.getRawName()::$m.name[0];
#end if
   }

#if not $m.type.const
   // Wrapper for modifying static data member $data_visitor.getRawName()
   SHARPPY_API void ${set_name}($native_type v)
   {
#if $m.type.must_marshal
## XXX: This probably isn't even close to correct ...
      $class_visitor.getRawName()::$m.name[0] = *v;
#else
      $class_visitor.getRawName()::$m.name[0] = v;
#end if
   }
#end if

#end for
} // extern "C" for $class_visitor.getRawName()

#set $nested_visitor = CPlusPlusVisitor()
#for $nc in $classObj.nested_classes
#silent $nc.class_.accept($nested_visitor)
// Nested class $nested_visitor.getRawName().
$exportClass($nc)
#end for
#end def

$exportClass($exp_class)
